{% extends "arya/layout.html" %}

{% block css %}
    <style>
        .delete-one-choice {
            margin-left: 10px;
            color: #CCCACB;
            border: none;
            background-color: transparent
        }

        .add-one-choice {
            color: #337AB7;
            margin-left: 10px;
            border: none;
            background-color: transparent;
            display: inline-block;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="row ">
        <div style="text-align: right;padding: 25px 40px 20px 0">
            <button class="btn btn-success" onclick="addOneItem()">添加</button>
            <button class="btn btn-primary" onclick="save()">保存</button>
        </div>
        <table class="table table-hover">
            {% csrf_token %}
            <tbody id="tBody">
            <tr>
                <td>
                    <div class="form-horizontal">
                        <!--右侧的删除-->
                        <div style="text-align: right;padding-right: 20px">
                            <a onclick="removeOneItem(this)" href="javascript:void(0)"
                               class="delete-one-choice">
                                <span class="glyphicon glyphicon-remove" style="font-size: 17px"></span>
                            </a>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">问题:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="2" style="width: 600px"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型:</label>
                            <div class="col-sm-10">
                                <select onchange="selectChange(this)" class="form-control" style="width: 200px;display: inline-block">
                                    {% for type_choice in type_choices %}
                                        <option value="{{ type_choice.0 }}">{{ type_choice.1 }}</option>
                                    {% endfor %}

{#                                    <option>1</option>#}
{#                                    <option>2</option>#}
{#                                    <option>3</option>#}
{#                                    <option>4</option>#}
{#                                    <option>5</option>#}
                                </select>
                                <a href="javascript:void(0)" style="text-decoration: none;" onclick="addOneChoice(this)" class="add-one-choice">
                                    <span class="glyphicon glyphicon-plus"></span>添加选项
                                </a>
                                <span class="hide" style="margin-left: 10px;color: red">请添加选项</span>
                                <ul style="margin-top: 20px;padding-left: 15px">
{#                                    <li style="margin-top: 10px">内容: <input type="text">#}
{#                                        <a onclick="removeOneChoice(this)" href="javascript:void(0)"#}
{#                                           class="delete-one-choice">#}
{#                                            <span class="glyphicon glyphicon-remove"></span>#}
{#                                        </a>#}
{#                                    </li>#}
                                </ul>
                            </div>
                        </div>


                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--something to clone-->
    <div class="hide" id="hideElement">
        <li style="margin-top: 10px">
            内容: <input type="text">
            <a onclick="removeOneChoice(this)" href="javascript:void(0)" class="delete-one-choice">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </div>

    <!--something to clone end-->


    <script>
        function removeOneChoice(self) {
            $(self).parent().remove()
        }
        function addOneChoice(self) {
            $(self).next().addClass("hide")
            if ($(self).next().next().children().length > 0) {
                $(self).next().next().children().last().clone().appendTo($(self).next().next())
            } else {
                $("#hideElement li").clone().appendTo($(self).next().next())
            }
        }

        function removeOneItem(self) {
            if ($("#tBody").children("tr").length === 1) {
                alert("您的问卷至少得有一个问题吧!")
            }else{
                $(self).parent().parent().parent().parent().remove()
            }
        }
        
        function addOneItem() {
            var $item = $("#tBody").children().last().clone();
            $item.find("select").next().show();
            $item.appendTo($("#tBody"))
        }

        /*
         * select状态改变时,右侧的添加按钮显示或者不显示
         */
        function selectChange(self) {
            if($(self).val()==="1"|| $(self).val()==="2"){
                $(self).next().show()
            }else{
                $(self).next().hide()
                //ul 中的li 清理掉 & 请添加选项 不显示
                $(self).siblings("span").addClass("hide")
                $(self).siblings("ul").empty()
            }
        }

        /*
         * 保存按钮,发ajax保存数据
         */
        function save() {
            var questions = [];
            var allHaveDone = true;//主要用来标志是否有选择题没有添加选项
            $("textarea").each(function (k,v) {
                var question={}
                var questionName = $(this).val().trim()
                var $questionTypeEle = $(this).parent().parent().next().find("select")
                var questionType = $questionTypeEle.val()

                question["name"]=questionName
                question["type"]=questionType

                if(questionType==="1" ||questionType==="2"){
                    if($questionTypeEle.siblings("ul").find("li").length===0){
                        $questionTypeEle.siblings("span").removeClass("hide")
                        allHaveDone = false
                    }else{
                        $questionTypeEle.siblings("span").addClass("hide")
                        question["choices"] = []
                        $questionTypeEle.siblings("ul").find("li").each(function () {
                            question["choices"].push($(this).find(":text").val())
                        })

                    }
                }
                questions.push(question)
            });

            if(!allHaveDone){
                return
            }

            $.ajax({
                url:"/survey/save_survey_data/",
                type: "POST",
                data: {"questions":JSON.stringify(questions),"csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()},
                dataType:"JSON",
                success:function (data) {
                    alert("111")
                }
            });

            console.log(questions)

        }
    </script>





{% endblock %}


