{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <style>
    </style>
</head>
<body>

<div class="container">
    <div style="margin-top: 50px;text-align: center"><h3>{{ survey_obj.title }}</h3></div>
    <div class="row ">
        <div class="col-md-8 col-md-offset-2">
            <form method="POST">
                {% csrf_token %}

                {% for question in survey_obj.items.all %}

                    {% if question.type == 1 %}
                        <label>{{ forloop.counter }}.{{ question.title }}</label>
                        <div class="form-group">
                            {% for choice in question.choices.all %}
                                <label class="radio-inline">
                                    <input type="radio" name="{{ question.pk }}"
                                           value="{{ choice.pk }}"> {{ choice.title }}
                                </label>
                            {% endfor %}
                        </div>

                    {% elif question.type == 2 %}
                        <label>{{ forloop.counter }}.{{ question.title }}</label>
                        <div class="form-group">
                            {% for choice in question.choices.all %}
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="{{ question.pk }}"
                                           value="{{ choice.pk }}"> {{ choice.title }}
                                </label>
                            {% endfor %}
                        </div>

                    {% elif question.type == 3 %}
                        <label>{{ forloop.counter }}.{{ question.title }}</label>
                        <div class="form-group">
                            {% for choice in question.choices.all %}
                                <label class="radio-inline">
                                    <input type="radio" name="{{ question.pk }}"
                                           value="{{ choice.pk }}"> {{ choice.title }}
                                </label>
                            {% endfor %}
                        </div>

                    {% elif question.type == 4 %}
                        <div class="form-group">
                            <label for="{{ question.pk }}">{{ forloop.counter }}.{{ question.title }}</label>
                            <input type="text" name="{{ question.pk }}" class="form-control"
                                   id="{{ question.pk }}" placeholder="">
                        </div>

                    {% elif question.type == 5 %}
                        <div class="form-group">
                            <label for="{{ question.pk }}">{{ forloop.counter }}.{{ question.title }}</label>
                            <textarea class="form-control" name="{{ question.pk }}" rows="5"
                                      id="{{ question.pk }}" placeholder=""></textarea>
                        </div>
                    {% endif %}


                {% endfor %}


                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>