<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .delete-one-choice {
            margin-left: 10px;
            color: #CCCACB;
            border: none;
            background-color: transparent
        }

        .add-one-choice {
            color: #337AB7;
            margin-left: 10px;
            border: none;
            background-color: transparent;
            display: inline-block
        }
    </style>
</head>
<body>



</body>
</html>